.background {
  background: var(--color-black);
  color: var(--color-zinc-300);
}

.footer {
  height: var(--footer-height-m);
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media(max-width: 962px) {
    height: var(--footer-height-s);

    .socials {
      display: none;
    }
  }
}