.hero {
  height: calc(100vh - var(--header-height-m));
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  @media(max-width: 962px) {
    height: 100%;
    flex-direction: column-reverse;
    gap: 50px;
    padding-block: 40px;
  }

  @media (max-width: 420px) {
    display: block;
  }
}

.main {
  display: flex;
  flex-direction: column;
  gap: 80px;

  @media(max-width: 962px) {
    gap: 30px;
  }
}

.text {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.title {
  font-size: 48px;
  line-height: 56px;
  font-weight: 400;

  span {
    font-weight: 800;
  }

  @media(max-width: 1180px) {
    font-size: 36px;
    line-height: 40px;
  }

  @media (max-width: 962px) {
    font-size: 28px;
    line-height: 32px;
  }
}

.subtitle {
  font-size: 16px;
  line-height: 24px;
  color: var(--color-zinc-500);
}

.image {
  position: relative;
  text-align: center;
}

.image img {
  width: 500px;
  height: auto;

  @media(max-width: 1180px) {
    width: 400px;
  }

  @media (max-width: 962px) {
    width: 50%;
  }

  @media (max-width: 420px) {
    display: none;
  }

  // @media (max-width: 800px) {
  //   width: 400px;
  // }

  // @media (max-width: 600px) {
  //   width: 350px;
  // }

  // @media (max-width: 530px) {
  //   width: 300px;
  // }
}

.borderImage {
  width: 150%;
  height: 4px;
  border-radius: 4px;
  background-color: black;
  position: absolute;
  bottom: 2px;
  left: -50%;
  overflow: hidden;

  @media(max-width: 1180px) {
    width: 125%;
    left: -25%;
  }

  @media(max-width: 962px) {
    width: 300%;
    left: -100%;
    height: 3px;
    bottom: 3px;
  }

  @media (max-width: 420px) {
    display: none;
  }
}