.socials {
  display: flex;
  gap: 32px;

  @media(max-width: 420px) {
    justify-content: center;
  }
}

.social {
  width: 56px;
  height: 56px;
  border: 1px solid black;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .5s;

  svg {
    width: 28px;
    height: 28px;
    transition: all .6s;
  }
}

.dark .social:hover {
  background-color: var(--color-black);

  svg {
    fill: var(--color-white);
  }
}

.light .social {
  border-radius: 50%;
  background-color: var(--color-zinc-300);
}

.light .social:hover {
  background-color: var(--color-white);
}