.burger {
  display: none;

  @media(max-width: 962px) {
    display: block;
  }
}

.icon {
  -webkit-tap-highlight-color: transparent;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  .line {
    fill: none;
    transition: stroke-dasharray .4s, stroke-dashoffset .4s;
    stroke: var(--color-black);
    stroke-width: 5.5px;
    stroke-linecap: round;

    &.top {
      stroke-dasharray: 40 160;
    }

    &.middle {
      stroke-dasharray: 40 142;
      transform-origin: 50%;
      transition: transform .4s;
    }

    &.bottom {
      stroke-dasharray: 40 85;
      transform-origin: 50%;
      transition: transform .4s, stroke-dashoffset .4s;
    }
  }
}

.icon.isOpen {
  transform: rotate(45deg);

  .top {
    stroke-dashoffset: -64px;
  }

  .middle {
    // stroke-dashoffset: -20px;
    transform: rotate(90deg);
  }

  .bottom {
    stroke-dashoffset: -64px;
  }
}

.menu {
  position: absolute;
  width: 100%;
  z-index: 293;
  top: var(--header-height-s);
  bottom: 0;
  right: 0;
  background: var(--color-white);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 20px;
}

.list {
  display: flex;
  flex-direction: column;

  li {
    width: 100%;
    font-size: 20px;
    border-bottom: 1px solid var(--color-black);
    padding: 10px;
    text-align: center;

    @media(max-width: 440px) {
      text-align: left;
    }
  }
}

.buttonContainer {
  margin-inline: 16px;
}

.button {
  text-decoration: none;
  color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}


.socials {
  justify-content: center;
}